<div *ngIf="loading">
    <img class="position-absolute top-50 start-50 translate-middle" src="assets/circle-1700.gif" alt=" jdfkjsdk"
        height="100px " width=" 100px">
</div>

<div class="container  p-2 mt-3 ">
    <div *ngIf="alertMsg=='added'?true:false"
        class="alert alert-success alert-dismissible fade show col-sm-5 m-auto p-3" role="alert">
        <strong>!!</strong> New product added successfuly
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="alertMsg=='error'?true:false" class="alert alert-danger alert-dismissible fade show col-sm-5 m-auto p-3"
        role="alert">
        <strong>!Opps</strong> Something went wrong
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class=" col-sm-5 m-auto p-3 border  rounded-2 bg-light">
        <h3 class="text-center">New Product</h3>


        <div class="mb-2">
            <label for="productName" class="form-label">Product Name<span class="star">*</span> </label>
            <input formControlName="productName" name="productName" type="text" class="form-control" id="productName"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-2">
            <label for="price" class="form-label">Product Price<span class="star">*</span></label>
            <input formControlName="price" name="price" type="number" class="form-control" id="price">
        </div>

        <div class="mb-2">
            <label for="category" class="form-label">Category<span class="star">*</span></label>
            <select id="category" class="form-select" formControlName="category" name="category" required>
                <option (value)=[null]>Select</option>
                <option *ngFor="let category of categoryList" (value)=category.categoryName>{{category.categoryName}}
                </option>
            </select>

        </div>
        <div class="mb-2">
            <label for="productDescription" class="form-label">Product Description<span class="star">*</span></label>
            <input formControlName="productDescription" name="productDescription" type="text" class="form-control"
                id="productDescription">
        </div>
        <div class="mb-2">
            <label for="keywords" class="form-label">Keywords<span id="note">(enter comma
                    seperated
                    keywords)</span><span class="star">*</span> </label>
            <input formControlName="keywords" name="keywords" type="text" class="form-control" id="keywords">
        </div>

        <div class="mb-2">
            <label for="imageUrl" class="form-label">Product Image <span class="star">*</span></label>
            <input (change)="onChageFile($event)" formControlName="imageUrl" name="imageUrl" type="file"
                accept="image/jpeg, image/jpg, image/png, image/webp" class="form-control" id="imageUrl">
        </div>

        <button type="submit" class="btn btn-primary mt-3"> Add </button>

    </form>



</div>